* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contenedor {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: aquamarine;
  border: 1px solid violet;
}
.item {
  padding: 1rem;
  font-size: 1.2rem;
  background: wheat;
  border: 1px solid white;
}
